{% extends "base.html" %}


{% block title %}
    Index
{% endblock title %}
    

{% block headertitle %}
    Summary
{% endblock headertitle %}


{% block content %}
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-6">
        <!-- USERS LIST -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Latest Members</h3>

            <div class="card-tools">
              <span class="badge badge-danger">{{ new_members }} New 
              {% if new_members > 1 %}
                Members
              {% else %}
                Member
              {% endif %}
                </span>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <ul class="users-list clearfix">
              {% for member in members  %}
              <li>
                <img src="/media/{{ member.profile_pic }}" width="64" height="64" alt="Profile Picture">
                <a class="users-list-name" href="#">{{ member.first_name }}</a>
                <span class="users-list-date">{{ member.member_since }}</span>
              </li>
              {% endfor %}
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer text-center">
          </div> -->
          <!-- /.card-footer -->
        </div>
        <!--/.card -->
      </div>
      <!-- /.col -->
    </div>
      <!-- /.row -->
{% endblock content %}
    