{% extends "base.html" %}
{% load static %}

{% block title %}
    Index
{% endblock title %}
    

{% block headertitle %}
    Summary
{% endblock headertitle %}


{% block content %}
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-6">
        <!-- USERS LIST -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Latest Members</h3>

            <div class="card-tools">
              
              {% if new_members > 0 %}
                
              <span class="badge badge-danger">{{ new_members }} New 
              {% if new_members > 1 %}
                Members
              {% else %}
                Member
              {% endif %}
                </span>
      
              {% endif %}
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            {% if new_members > 0 %}
            <ul class="users-list clearfix">
              {% for member in members  %}
              <li>
                <a href="{% url 'member-detail' member.id %}">
                  <img src="/media/{{ member.profile_pic }}" width="64" height="64" alt="Profile Picture" />
                  <span class="users-list-name">{{ member.first_name }}</span>
                  <span class="users-list-date">{{ member.member_since }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <div class="p-5 text-center"><strong>No New Member</strong></div>
            {% endif %}
            <!-- /.users-list -->
          </div>
          <!-- /.card-body -->
          <!-- <div class="card-footer text-center">
          </div> -->
          <!-- /.card-footer -->
        </div>
        <!--/.card -->
      </div>
      <!-- /.col -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
              <h3 class="card-title">Sales</h3>
              <a href="javascript:void(0);">View Report</a>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex">
              <p class="d-flex flex-column">
                <span class="text-bold text-lg">P18,230.00</span>
                <span>Sales Over Time</span>
              </p>
              <p class="ml-auto d-flex flex-column text-right">
                <span class="text-success">
                  <i class="fas fa-arrow-up"></i> 33.1%
                </span>
                <span class="text-muted">Since last month</span>
              </p>
            </div>
            <!-- /.d-flex -->

            <div class="position-relative mb-4">
              <canvas id="sales-chart" height="200"></canvas>
            </div>

            <div class="d-flex flex-row justify-content-end">
              <span class="mr-2">
                <i class="fas fa-square text-primary"></i> This year
              </span>

              <span>
                <i class="fas fa-square text-gray"></i> Last year
              </span>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div><!--/ .col-->
    </div>
      <!-- /.row -->
{% endblock content %}

{% block extrajs %}
<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<script type="text/javascript">
  $(function () {
  'use strict'

  var ticksStyle = {
    fontColor: '#495057',
    fontStyle: 'bold'
  }

  var mode = 'index'
  var intersect = true

  var $salesChart = $('#sales-chart')
  // eslint-disable-next-line no-unused-vars
  var salesChart = new Chart($salesChart, {
    type: 'bar',
    data: {
      labels: ['JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'],
      datasets: [
        {
          backgroundColor: '#007bff',
          borderColor: '#007bff',
          data: [1000, 2000, 3000, 2500, 2700, 2500, 3000]
        },
        {
          backgroundColor: '#ced4da',
          borderColor: '#ced4da',
          data: [700, 1700, 2700, 2000, 1800, 1500, 2000]
        }
      ]
    },
    options: {
      maintainAspectRatio: false,
      tooltips: {
        mode: mode,
        intersect: intersect
      },
      hover: {
        mode: mode,
        intersect: intersect
      },
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          // display: false,
          gridLines: {
            display: true,
            lineWidth: '4px',
            color: 'rgba(0, 0, 0, .2)',
            zeroLineColor: 'transparent'
          },
          ticks: $.extend({
            beginAtZero: true,

            // Include a dollar sign in the ticks
            callback: function (value) {
              if (value >= 1000) {
                value /= 1000
                value += 'k'
              }

              return 'P' + value
            }
          }, ticksStyle)
        }],
        xAxes: [{
          display: true,
          gridLines: {
            display: false
          },
          ticks: ticksStyle
        }]
      }
    }
  })
  });
</script>
{% endblock extrajs %}